@import '../helpers/fonts', '../helpers/colors';

.footer {
  width: 100%;
  justify-self: center;
  align-self: center;

  & > p {
    font-family: $nav-font;
    font-size: 0.8rem;
    color: $dark-font-color;
    margin: 10px 0;
    text-align: center;

    & > a {
      color: $dark-font-color;
    }
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    & > p {
      font-size: 1rem;
    }
  }
}