.articles {
	max-width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.article {
	width: 50%;
	min-width: 200px;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	border: solid 1px black;
	border-radius: 10px;
	overflow: hidden;

	.content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 10px 15px;
		overflow: hidden;
	}

	.published-date {
		align-self: flex-end;
		margin-bottom: 4px;
		max-width: 100%;
		& > p {
			font-size: 13px;
			color: #333;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.source {
		background-color: grey;
		padding: 2px 8px;
		margin-bottom: 6px;
		border-radius: 14px;
		max-width: 100%;
		& > h3 {
			font-size: 12px;
			font-weight: 500;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	.title {
		font-family: Merriweather, 'Helvetica Neue', Helvetica, Arial,
			'Lucida Grande', serif;
		font-size: 20px;
		margin-bottom: 4px;
	}

	.author {
		font-size: 14px;
		color: #555;
	}

	.open-link {
		width: 100%;
		text-decoration: none;
		padding: 5px;
		background-color: lightgreen;
		color: inherit;
		text-align: center;
	}
}
