@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html,
body,
#app {
	height: 100%;
	width: 100%;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/* COLORS */
	--light-grey: rgb(250, 250, 250);
	--black-font-color: rgb(25, 30, 44);
	--light-blue: rgb(160, 213, 215);
	--vivid-red: #ff004c;
	--darker-vivid-red: #b30036;

	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background-color: ghostwhite; */
	/* background-color: rgb(245, 242, 229); */
	color: var(--black-font-color);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
