#app {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#view {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	& > main {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow-y: auto;
	}
}

#footer {
	flex: 0 0 150px;
	background-color: grey;
	overflow: hidden;
}

#topics {
	list-style-type: none;
	flex: 0 0 auto;
	display: flex;
	padding: 10px;
	overflow-x: auto;
	a {
		color: var(--black-font-color);
		text-decoration: none;
		margin-right: 10px;
		span {
			margin-right: 1px;
		}
		&:not(.active) {
			color: #999;
		}
	}
}

@media (min-width: 972px) {
	#app {
		flex-direction: row;
	}
}

@media (hover: hover) {
	#topics a:hover {
		color: initial;
	}
}
